In [1]:
import pandas as pd

# Cargar dataset
df = pd.read_csv('Client_segment_MODIFICADO.csv', delimiter=';', encoding='latin1')

In [2]:
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,"1,029",30,0,278,NaN
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,"1,79",30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,"1,326",50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,"0,779",50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,iï¿½vila,"1,767",30,1,299,NaN

In [3]:
# Obtener valores únicos de la columna 'Provincia'
valores_unicos = df['Provincia'].unique()

# Mostrar los valores únicos
valores_unicos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'iï¿½vila', 'Orense',
       'Almeriï¿½a', 'LLeida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'iï¿½lava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruiï¿½a',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipiï¿½zcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [4]:
# Diccionario de reemplazo: valores mal escritos -> valores corregidos (sin tildes)
correcciones = {
    'iï¿½vila': 'Avila',
    'Almeriï¿½a': 'Almeria',
    'LLeida': 'Lleida',
    'iï¿½lava': 'Alava',
    'La Coruiï¿½a': 'La Coruna',
    'Guipiï¿½zcoa': 'Guipuzcoa'
}

# Reemplazar valores en la columna 'Provincia'
df['Provincia'] = df['Provincia'].replace(correcciones)

# Verificar valores únicos después de la corrección
valores_unicos_corregidos = df['Provincia'].unique()
valores_unicos_corregidos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'Avila', 'Orense',
       'Almeria', 'Lleida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'Alava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruna',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipuzcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)