In [1]:
import pandas as pd

# Cargar dataset
df = pd.read_csv('Client_segment_MODIFICADO.csv', delimiter=';', encoding='latin1')

In [2]:
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,"1,029",30,0,278,NaN
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,"1,79",30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,"1,326",50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,"0,779",50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,iï¿½vila,"1,767",30,1,299,NaN

In [3]:
# Obtener valores únicos de la columna 'Provincia'
valores_unicos = df['Provincia'].unique()

# Mostrar los valores únicos
valores_unicos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'iï¿½vila', 'Orense',
       'Almeriï¿½a', 'LLeida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'iï¿½lava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruiï¿½a',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipiï¿½zcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [4]:
# Diccionario de reemplazo: valores mal escritos -> valores corregidos (sin tildes)
correcciones = {
    'iï¿½vila': 'Avila',
    'Almeriï¿½a': 'Almeria',
    'LLeida': 'Lleida',
    'iï¿½lava': 'Alava',
    'La Coruiï¿½a': 'La Coruna',
    'Guipiï¿½zcoa': 'Guipuzcoa'
}

# Reemplazar valores en la columna 'Provincia'
df['Provincia'] = df['Provincia'].replace(correcciones)

# Verificar valores únicos después de la corrección
valores_unicos_corregidos = df['Provincia'].unique()
valores_unicos_corregidos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'Avila', 'Orense',
       'Almeria', 'Lleida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'Alava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruna',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipuzcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [5]:
# Convertir columnas numéricas con comas a formato de punto decimal
cols_to_convert = ['Digital_encuesta']
for col in cols_to_convert:
    df[col] = df[col].str.replace(',', '.').astype(float)

In [6]:
df.isnull().sum()

ID                              0
Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Profesion                       0
Experiencia laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos anuales brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [7]:
df.fillna({'Casado': "Desconocido"})
df.fillna({'Graduado': "No"})
df.fillna({'Campanna_anno': "Ninguna"})

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,1.029,30,0,278,Ninguna
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,1.790,30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,1.326,50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,0.779,50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,Avila,1.767,30,1,299,Ninguna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,CLI10803,F,No,35,Si,Funcionario,10-20annos,Bajo,1,1989,Millennials,22751,Madrid,1.675,30,0,212,Ninguna
10802,CLI10804,M,No,34,No,Funcionario,10-20annos,Bajo,5,1990,Millennials,29184,Madrid,1.836,30,1,210,Ninguna
10803,CLI10805,F,No,46,Si,Negocios/empresa,+20annos,Bajo,1,1978,Generacion X,69622,Madrid,1.189,50,0,363,"0,5"
10804,CLI10806,M,Si,46,Si,Otros,+20annos,Medio,4,1978,Generacion X,49328,Madrid,1.346,30,0,140,Ninguna
10805,CLI10807,F,No,43,Si,Artista,+20annos,Bajo,1,1981,Millennials,129130,Madrid,1.537,50,0,396,1

In [8]:
# codificar variables categoricas
# Codificar variables categóricas
from sklearn.preprocessing import LabelEncoder

categorical_columns = ['Genero', 'Casado', 'Graduado', 'Profesion', 'Gastoscore', 'Generacion']
encoder = LabelEncoder()
for col in categorical_columns:
    df[col] = encoder.fit_transform(df[col])

In [ ]:
#normalizacion/estandarizacion
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
numerical_columns = ['Edad', 'Ingresos anuales brutos', 'Dias_cliente', 'Gasto_medio_mensual_cuota']
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

ValueError: could not convert string to float: 'CLI2'