In [3]:
import pandas as pd

# Cargar dataset
df = pd.read_csv('Client_segment_MODIFICADO.csv', delimiter=';', encoding='latin1')

In [4]:
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,"1,029",30,0,278,NaN
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,"1,79",30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,"1,326",50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,"0,779",50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,iï¿½vila,"1,767",30,1,299,NaN

In [5]:
# Obtener valores únicos de la columna 'Provincia'
valores_unicos = df['Provincia'].unique()

# Mostrar los valores únicos
valores_unicos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'iï¿½vila', 'Orense',
       'Almeriï¿½a', 'LLeida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'iï¿½lava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruiï¿½a',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipiï¿½zcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [6]:
# Diccionario de reemplazo: valores mal escritos -> valores corregidos (sin tildes)
correcciones = {
    'iï¿½vila': 'Avila',
    'Almeriï¿½a': 'Almeria',
    'LLeida': 'Lleida',
    'iï¿½lava': 'Alava',
    'La Coruiï¿½a': 'La Coruna',
    'Guipiï¿½zcoa': 'Guipuzcoa'
}

# Reemplazar valores en la columna 'Provincia'
df['Provincia'] = df['Provincia'].replace(correcciones)

# Verificar valores únicos después de la corrección
valores_unicos_corregidos = df['Provincia'].unique()
valores_unicos_corregidos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'Avila', 'Orense',
       'Almeria', 'Lleida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'Alava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruna',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipuzcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [7]:
# Convertir columnas numéricas con comas a formato de punto decimal
cols_to_convert = ['Digital_encuesta']
for col in cols_to_convert:
    df[col] = df[col].str.replace(',', '.').astype(float)

In [8]:
df.isnull().sum()

ID                              0
Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Profesion                       0
Experiencia laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos anuales brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [11]:
df.drop(['Casado','Graduado','anno_nacimiento','Campanna_anno'], axis=1, inplace=True)
df

,ID,Genero,Edad,Profesion,Experiencia laboral,Gastoscore,Family_Size,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente
0,CLI2,M,24,Funcionario,<10annos,Bajo,4,Generacion Z,13945,Malaga,1.029,30,0,278
1,CLI3,F,42,Ingeniero,+20annos,Medio,3,Millennials,118107,Salamanca,1.790,30,0,455
2,CLI4,F,74,Ingeniero,+20annos,Bajo,1,Generacion X,53533,Burgos,1.326,50,0,380
3,CLI5,M,74,Servicios,+20annos,Alto,2,Generacion X,82273,Gerona,0.779,50,1,387
4,CLI6,F,44,Otros,+20annos,Alto,6,Generacion X,90776,Avila,1.767,30,1,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,CLI10803,F,35,Funcionario,10-20annos,Bajo,1,Millennials,22751,Madrid,1.675,30,0,212
10802,CLI10804,M,34,Funcionario,10-20annos,Bajo,5,Millennials,29184,Madrid,1.836,30,1,210
10803,CLI10805,F,46,Negocios/empresa,+20annos,Bajo,1,Generacion X,69622,Madrid,1.189,50,0,363
10804,CLI10806,M,46,Otros,+20annos,Medio,4,Generacion X,49328,Madrid,1.346,30,0,140
10805,CLI10807,F,43,Artista,+20annos,Bajo,1,Millennials,129130,Madrid,1.537,50,0,396

In [14]:
# codificar variables categoricas
# Codificar variables categóricas
from sklearn.preprocessing import LabelEncoder

categorical_columns = ['Genero', 'Profesion', 'Gastoscore', 'Generacion','Experiencia laboral','Provincia',]
encoder = LabelEncoder()
for col in categorical_columns:
    df[col] = encoder.fit_transform(df[col])
    
df

,ID,Genero,Edad,Profesion,Experiencia laboral,Gastoscore,Family_Size,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente
0,CLI2,1,24,3,2,1,4,2,13945,30,1.029,30,0,278
1,CLI3,0,42,4,0,2,3,3,118107,37,1.790,30,0,455
2,CLI4,0,74,4,0,1,1,1,53533,8,1.326,50,0,380
3,CLI5,1,74,8,0,0,2,1,82273,16,0.779,50,1,387
4,CLI6,0,44,7,0,0,6,1,90776,4,1.767,30,1,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,CLI10803,0,35,3,1,1,1,3,22751,29,1.675,30,0,212
10802,CLI10804,1,34,3,1,1,5,3,29184,29,1.836,30,1,210
10803,CLI10805,0,46,6,0,1,1,1,69622,29,1.189,50,0,363
10804,CLI10806,1,46,7,0,2,4,1,49328,29,1.346,30,0,140
10805,CLI10807,0,43,0,0,1,1,3,129130,29,1.537,50,0,396

In [18]:
from sklearn.preprocessing import StandardScaler

# Crear el objeto StandardScaler
scaler = StandardScaler()

# Lista de columnas numéricas para escalar
numerical_columns = ['Edad', 'Ingresos anuales brutos', 'Dias_cliente', 
                     'Gasto_medio_mensual_cuota', 'Genero', 'Profesion', 
                     'Experiencia laboral', 'Gastoscore', 'Family_Size', 
                     'Generacion', 'Provincia', 'Digital_encuesta', 'Abandono']

# Verificar si las columnas están en el DataFrame
numerical_columns = [col for col in numerical_columns if col in df.columns]

# Escalar las columnas seleccionadas
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print("\nColumnas numéricas estandarizadas con StandardScaler:")
print(df.head())
df

Columnas numéricas estandarizadas con StandardScaler:
     ID    Genero      Edad  Profesion  Experiencia laboral  Gastoscore  \
0  CLI2  0.911200 -1.297819  -0.087347             1.715799   -0.151048
1  CLI3 -1.097454 -0.321216   0.268026            -0.775758    1.465015
2  CLI4 -1.097454  1.414966   0.268026            -0.775758   -0.151048
3  CLI5  0.911200  1.414966   1.689516            -0.775758   -1.767111
4  CLI6 -1.097454 -0.212705   1.334144            -0.775758   -1.767111

   Family_Size  Generacion  Ingresos anuales brutos  Provincia  \
0     0.798110    0.224282                -1.189304   0.370312
1     0.152186    1.185260                 1.748442   0.856211
2    -1.139662   -0.736697                -0.072779  -1.156801
3    -0.493738   -0.736697                 0.737793  -0.601487
4     2.089958   -0.736697                 0.977609  -1.434458

   Digital_encuesta  Gasto_medio_mensual_cuota  Abandono  Dias_cliente
0         -0.332995                  -0.533086 -0.651511     -0.134417
1          0.031565                  -0.533086 -0.651511      1.054800
2         -0.190716                   0.164441 -0.651511      0.550894
3         -0.452758                   0.164441  1.534894      0.597925
4          0.020547                  -0.533086  1.534894      0.006676

,ID,Genero,Edad,Profesion,Experiencia laboral,Gastoscore,Family_Size,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente
0,CLI2,0.911200,-1.297819,-0.087347,1.715799,-0.151048,0.798110,0.224282,-1.189304,0.370312,-0.332995,-0.533086,-0.651511,-0.134417
1,CLI3,-1.097454,-0.321216,0.268026,-0.775758,1.465015,0.152186,1.185260,1.748442,0.856211,0.031565,-0.533086,-0.651511,1.054800
2,CLI4,-1.097454,1.414966,0.268026,-0.775758,-0.151048,-1.139662,-0.736697,-0.072779,-1.156801,-0.190716,0.164441,-0.651511,0.550894
3,CLI5,0.911200,1.414966,1.689516,-0.775758,-1.767111,-0.493738,-0.736697,0.737793,-0.601487,-0.452758,0.164441,1.534894,0.597925
4,CLI6,-1.097454,-0.212705,1.334144,-0.775758,-1.767111,2.089958,-0.736697,0.977609,-1.434458,0.020547,-0.533086,1.534894,0.006676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,CLI10803,-1.097454,-0.701006,-0.087347,0.470020,-0.151048,-1.139662,1.185260,-0.940942,0.300898,-0.023526,-0.533086,-0.651511,-0.577854
10802,CLI10804,0.911200,-0.755262,-0.087347,0.470020,-0.151048,1.444034,1.185260,-0.759509,0.300898,0.053601,-0.533086,1.534894,-0.591291
10803,CLI10805,-1.097454,-0.104193,0.978771,-0.775758,-0.151048,-1.139662,-0.736697,0.380989,0.300898,-0.256346,0.164441,-0.651511,0.436676
10804,CLI10806,0.911200,-0.104193,1.334144,-0.775758,1.465015,0.798110,-0.736697,-0.191375,0.300898,-0.181135,-0.533086,-0.651511,-1.061603
10805,CLI10807,-1.097454,-0.266960,-1.153465,-0.775758,-0.151048,-1.139662,1.185260,2.059331,0.300898,-0.089636,0.164441,-0.651511,0.658394

In [19]:
df.to_csv('Bueno_limpionormalizao.csv', index=False)