In [24]:
import pandas as pd

# Cargar dataset
df = pd.read_csv('Client_segment_MODIFICADO.csv', delimiter=';', encoding='latin1')

In [25]:
df.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,"1,029",30,0,278,NaN
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,"1,79",30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,"1,326",50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,"0,779",50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,iï¿½vila,"1,767",30,1,299,NaN

In [26]:
# Obtener valores únicos de la columna 'Provincia'
valores_unicos = df['Provincia'].unique()

# Mostrar los valores únicos
valores_unicos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'iï¿½vila', 'Orense',
       'Almeriï¿½a', 'LLeida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'iï¿½lava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruiï¿½a',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipiï¿½zcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [27]:
# Diccionario de reemplazo: valores mal escritos -> valores corregidos (sin tildes)
correcciones = {
    'iï¿½vila': 'Avila',
    'Almeriï¿½a': 'Almeria',
    'LLeida': 'Lleida',
    'iï¿½lava': 'Alava',
    'La Coruiï¿½a': 'La Coruna',
    'Guipiï¿½zcoa': 'Guipuzcoa'
}

# Reemplazar valores en la columna 'Provincia'
df['Provincia'] = df['Provincia'].replace(correcciones)

# Verificar valores únicos después de la corrección
valores_unicos_corregidos = df['Provincia'].unique()
valores_unicos_corregidos

array(['Malaga', 'Salamanca', 'Burgos', 'Gerona', 'Avila', 'Orense',
       'Almeria', 'Lleida', 'Segovia', 'Castellon', 'Ciudad Real',
       'Zamora', 'Madrid', 'Soria', 'Zaragoza', 'Jaen', 'Leon', 'Ceuta',
       'Toledo', 'Las Palmas', 'Albacete', 'Vizcaya', 'Huelva',
       'Guadalajara', 'Granada', 'La Rioja', 'Alicante', 'Alava',
       'Badajoz', 'Sevilla', 'Teruel', 'Caceres', 'La Coruna',
       'Pontevedra', 'Cadiz', 'Barcelona', 'Cuenca', 'Palencia',
       'Baleares', 'Santa Cruz de Tenerife', 'Valencia', 'Huesca',
       'Melilla', 'Guipuzcoa', 'Tarragona', 'Navarra', 'Valladolid',
       'Lugo', 'Cordoba', 'Murcia'], dtype=object)

In [28]:
# Verificar si hay filas con valores nulos
null_data = df.isnull().sum()

# Mostrar el resultado de cuántos valores nulos hay en cada columna
print("Valores nulos por columna:")
print(null_data)

Valores nulos por columna:
ID                              0
Genero                          0
Casado                        190
Edad                            0
Graduado                      103
Profesion                       0
Experiencia laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos anuales brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [29]:
# Especificar la columna que deseas analizar
columna = 'Casado'  # Reemplaza con el nombre de la columna

if columna in df.columns:
    # Contar valores únicos y sus frecuencias
    conteo_valores = df[columna].value_counts()
    
    # Mostrar resultados
    print(f"Valores únicos en la columna '{columna}': {conteo_valores.shape[0]}")
    print("\nFrecuencia de cada valor:")
    print(conteo_valores)
else:
    print(f"La columna '{columna}' no existe en el archivo.")

Valores únicos en la columna 'Casado': 2

Frecuencia de cada valor:
Si    6217
No    4399
Name: Casado, dtype: int64

In [30]:
# Especificar la columna que deseas analizar
columna = 'Graduado'  # Reemplaza con el nombre de la columna

if columna in df.columns:
    # Contar valores únicos y sus frecuencias
    conteo_valores = df[columna].value_counts()
    
    # Mostrar resultados
    print(f"Valores únicos en la columna '{columna}': {conteo_valores.shape[0]}")
    print("\nFrecuencia de cada valor:")
    print(conteo_valores)
else:
    print(f"La columna '{columna}' no existe en el archivo.")

Valores únicos en la columna 'Graduado': 2

Frecuencia de cada valor:
Si    6637
No    4066
Name: Graduado, dtype: int64

In [31]:
import numpy as np

# Calcular las proporciones de cada categoría
proporciones = df['Casado'].value_counts(normalize=True)

# Generar valores aleatorios basados en la distribución
valores_aleatorios = np.random.choice(
    proporciones.index,  # Valores únicos
    size=df['Casado'].isnull().sum(),  # Cantidad de nulos
    p=proporciones.values  # Probabilidades
)

# Asignar los valores generados a las filas nulas
df.loc[df['Casado'].isnull(), 'Casado'] = valores_aleatorios

In [32]:
import numpy as np

# Calcular las proporciones de cada categoría
proporciones = df['Graduado'].value_counts(normalize=True)

# Generar valores aleatorios basados en la distribución
valores_aleatorios = np.random.choice(
    proporciones.index,  # Valores únicos
    size=df['Graduado'].isnull().sum(),  # Cantidad de nulos
    p=proporciones.values  # Probabilidades
)

# Asignar los valores generados a las filas nulas
df.loc[df['Graduado'].isnull(), 'Graduado'] = valores_aleatorios

In [33]:
# Verificar si hay filas con valores nulos
null_data = df.isnull().sum()

# Mostrar el resultado de cuántos valores nulos hay en cada columna
print("Valores nulos por columna:")
print(null_data)

Valores nulos por columna:
ID                              0
Genero                          0
Casado                          0
Edad                            0
Graduado                        0
Profesion                       0
Experiencia laboral             0
Gastoscore                      0
Family_Size                     0
anno_nacimiento                 0
Generacion                      0
Ingresos anuales brutos         0
Provincia                       0
Digital_encuesta                0
Gasto_medio_mensual_cuota       0
Abandono                        0
Dias_cliente                    0
Campanna_anno                5707
dtype: int64

In [34]:
# Especificar la columna que deseas analizar
columna = 'Casado'  # Reemplaza con el nombre de la columna

if columna in df.columns:
    # Contar valores únicos y sus frecuencias
    conteo_valores = df[columna].value_counts()
    
    # Mostrar resultados
    print(f"Valores únicos en la columna '{columna}': {conteo_valores.shape[0]}")
    print("\nFrecuencia de cada valor:")
    print(conteo_valores)
else:
    print(f"La columna '{columna}' no existe en el archivo.")

Valores únicos en la columna 'Casado': 2

Frecuencia de cada valor:
Si    6330
No    4476
Name: Casado, dtype: int64

In [35]:
# Especificar la columna que deseas analizar
columna = 'Graduado'  # Reemplaza con el nombre de la columna

if columna in df.columns:
    # Contar valores únicos y sus frecuencias
    conteo_valores = df[columna].value_counts()
    
    # Mostrar resultados
    print(f"Valores únicos en la columna '{columna}': {conteo_valores.shape[0]}")
    print("\nFrecuencia de cada valor:")
    print(conteo_valores)
else:
    print(f"La columna '{columna}' no existe en el archivo.")

Valores únicos en la columna 'Graduado': 2

Frecuencia de cada valor:
Si    6705
No    4101
Name: Graduado, dtype: int64

Ya no tenemos valores nulos, hemos completado proporcionalmente

In [36]:
# Filtrar solo las columnas categóricas (tipo object)
categorical_columns = df.select_dtypes(include=['object']).columns

# Mostrar los valores únicos de cada columna categórica
for column in categorical_columns:
    print(f"Valores únicos en la columna '{column}':")
    print(df[column].unique())
    print("\n")

Valores únicos en la columna 'ID':
['CLI2' 'CLI3' 'CLI4' ... 'CLI10805' 'CLI10806' 'CLI10807']


Valores únicos en la columna 'Genero':
['M' 'F']


Valores únicos en la columna 'Casado':
['No' 'Si']


Valores únicos en la columna 'Graduado':
['No' 'Si']


Valores únicos en la columna 'Profesion':
['Funcionario' 'Ingeniero' 'Servicios' 'Otros' 'Artista' 'Ejecutivo'
 'Medico' 'Construccion' 'Negocios/empresa']


Valores únicos en la columna 'Experiencia laboral':
['<10annos' '+20annos' '10-20annos']


Valores únicos en la columna 'Gastoscore':
['Bajo' 'Medio' 'Alto']


Valores únicos en la columna 'Generacion':
['Generacion Z' 'Millennials' 'Generacion X' 'Generacion Silenciosa']


Valores únicos en la columna 'Provincia':
['Malaga' 'Salamanca' 'Burgos' 'Gerona' 'Avila' 'Orense' 'Almeria'
 'Lleida' 'Segovia' 'Castellon' 'Ciudad Real' 'Zamora' 'Madrid' 'Soria'
 'Zaragoza' 'Jaen' 'Leon' 'Ceuta' 'Toledo' 'Las Palmas' 'Albacete'
 'Vizcaya' 'Huelva' 'Guadalajara' 'Granada' 'La Rioja' 'Alicante' 'Alava'
 'Badajoz' 'Sevilla' 'Teruel' 'Caceres' 'La Coruna' 'Pontevedra' 'Cadiz'
 'Barcelona' 'Cuenca' 'Palencia' 'Baleares' 'Santa Cruz de Tenerife'
 'Valencia' 'Huesca' 'Melilla' 'Guipuzcoa' 'Tarragona' 'Navarra'
 'Valladolid' 'Lugo' 'Cordoba' 'Murcia']


Valores únicos en la columna 'Digital_encuesta':
['1,029' '1,79' '1,326' '0,779' '1,767' '1,15' '0,916' '1,56' '1,385'
 '2,72' '2,202' '1,374' '1,228' '0,801' '1,606' '0,72' '0,759' '0,622'
 '2,651' '1,077' '0,876' '1,737' '1,974' '1,008' '1,146' '1,17' '1,512'
 '2,823' '1,091' '1,261' '1,537' '1,054' '0,87' '1,6' '0,798' '2,996'
 '0,896' '1,629' '1,698' '2,306' '1,561' '0,974' '1,514' '2,237' '0,74'
 '1,58' '0,583' '0,818' '1,404' '1,502' '2,168' '0,939' '1,583' '1,033'
 '0,824' '1,813' '0,661' '0,837' '2,02' '0,732' '1,721' '1,248' '1,754'
 '1,905' '0,857' '2,066' '1,882' '2,043' '1,424' '0,603' '1,836' '1,189'
 '1,052' '1,169' '1,482' '1,463' '0,962' '1,685' '2,478' '1,859' '0,7'
 '0,955' '1,445' '0,847' '1,238' '1,443' '0,681' '1,031' '14,085' '0,642'
 '0,935' '1,652' '0,915' '0,564' '1,744' '1,951' '1,376' '2,961' '1,306'
 '1,717' '1,995' '1,491' '1,346' '1,353' '3,099' '0,755' '0,778' '1,678'
 '1,1' '1,675' '1,307' '2,754' '1,287' '15,215' '1,788' '2,409' '1,719'
 '1,639' '1,123' '1,468' '1,236' '1,305' '1,697' '2,927' '2,133' '0,709'
 '2,03' '13,395' '0,893' '1,619' '1,33' '1,098' '0,994' '1,399' '12,705'
 '2,685' '1,284' '11,325' '0,686' '1,65' '1,997' '1,541' '1,857' '1,422'
 '1,547' '0,985' '1,013' '1,756' '2,444' '2,271' '3,03' '1,658' '0,995'
 '1,267' '0,663' '1,215' '2,582' '11,305' '1,365' '3,065' '1,111' '12,015'
 '1,581' '1,072' '1,928' '2,34' '1,209' '2,513' '2,064' '2,616' '2,375'
 '2,789' '1,192' '2,099' '2,892' '1,892' '1,167' '1,823' '1,616' '2,858'
 '14,775' '1,926' '2,547' '1,961' '10,635']


Valores únicos en la columna 'Campanna_anno':
[nan '3' '1' '0,5' '4']

In [18]:
df.to_csv("Client_segment_Limpio.csv", index=False, sep=";")

In [38]:
df.to_csv("Client_segment_Limpio2.csv", sep=";")

In [19]:
columnas_numericas = df.select_dtypes(include=['float64', 'int64']).columns
print("Columnas numéricas:", columnas_numericas)

Columnas numéricas: Index(['Edad', 'Family_Size', 'anno_nacimiento', 'Ingresos anuales brutos',
       'Gasto_medio_mensual_cuota', 'Abandono', 'Dias_cliente'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Normalizar solo las columnas numéricas
scaler = MinMaxScaler()
df[columnas_numericas] = scaler.fit_transform(df[columnas_numericas])

# Guardar los cambios en un nuevo archivo
df.to_csv("Client_segment_normalizado.csv", index=False, sep=";")
print("Archivo normalizado guardado como: Client_segment_normalizado.csv")

Archivo normalizado guardado como: Client_segment_normalizado.csv

In [22]:
from sklearn.preprocessing import StandardScaler


# Estandarizar las variables numéricas
scaler = StandardScaler()
df_estandarizado = scaler.fit_transform(df[columnas_numericas])
df.to_csv("Client_segment_estand.csv", index=False, sep=";")